@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100;
}
* .titulo-principal {
  text-align: center;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  height: 70px;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.container-fluid {
  background-color: #333;
  padding: 10px;
}

.navbar-nav .nav-link {
  color: #f2f2f2;
  padding-left: 50px;
}
.navbar-nav .nav-link:hover {
  color: #ddd;
}

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0;
}

/* index.html */
.mi-imagen {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

/* modelos.html */
.container-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem auto;
  align-items: left;
}

.item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: inline-block;
  flex-direction: row; /* Cambia a fila para que imagen y contenido estén uno al lado del otro */
  transition: transform 0.3s ease;
  height: auto; /* Elimina la altura fija para evitar problemas de superposición */
  width: 100%;
  padding-top: 50px;
  padding-bottom: 10px;
}
.item:hover {
  transform: scale(1.02);
}
.item figure {
  margin: 0;
  padding: 0;
  width: 25%;
  height: 25%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item figure img {
  width: 50%; /* Asegura que la imagen ocupe todo el ancho disponible */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block;
  object-fit: cover;
}
.item .info-producto {
  padding: 1rem;
  width: 60%; /* Ajusta el ancho de la sección de información */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.item .info-producto h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color: #333;
}
.item .especificaciones {
  padding: 0.5rem;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
}
.item .especificaciones ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.item .especificaciones ul li {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: #555;
}
.item .especificaciones ul li strong {
  color: #333;
}

@media (max-width: 768px) {
  .item {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .item figure {
    width: 100%;
    height: auto;
  }
  .item .info-producto {
    width: 100%;
    height: auto;
  }
  footer {
    background-color: #808080;
    color: white;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
  }
  footer p {
    margin: 0;
    font-size: 14px;
  }
}
/* sobre_nosotros.html */
.payment-methods {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.payment-methods .method {
  background-color: #f9f9f9;
  padding: 1rem;
  border-left: 5px solid #333;
  border-radius: 4px;
}
.payment-methods .method h2 {
  margin-top: 0;
  color: #333;
}
.payment-methods .method p {
  margin: 0.5rem 0 0 0;
  color: #555;
}

.about-us {
  line-height: 1.6;
  color: #555;
}
.about-us h2 {
  color: #333;
  margin-top: 1.5rem;
}
.about-us p,
.about-us ul {
  margin-bottom: 1rem;
}
.about-us ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}
.about-us ul li {
  margin-bottom: 0.5rem;
}
.about-us strong {
  color: #333;
}
.about-us .bienvenida,
.about-us .subt,
.about-us .historia,
.about-us .subt2,
.about-us .descripcion,
.about-us .subt3,
.about-us .compromisos,
.about-us .subt4,
.about-us .mision,
.about-us .vision,
.about-us .subt5,
.about-us .contact {
  margin-left: 20px;
}

/* contacto.html */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
}
.contact-form label {
  font-size: 1rem;
  color: #333;
}
.contact-form input,
.contact-form select {
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}
.contact-form button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.contact-form button:hover {
  background-color: #1a1a1a;
}

/* carrito.html */
.payment-selection {
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #535455;
}

.method {
  padding-left: 10px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: auto;
  bottom: 0;
  width: 100%;
}
footer p {
  margin: 0;
  font-size: 14px;
}

/*# sourceMappingURL=styles.css.map */
